{% extends 'base.html.twig' %}
{% import 'macros/table.twig' as table %}

{% block title %}Типы услуг{% endblock %}

{% block body %}
    <style>
        thead.custom-blue-header th {
            background-color: #0d6efd !important;
            color: #ffffff !important;
            font-weight: 700 !important;
        }
    </style>

    <h1>Типы услуг</h1>

    <form method="get" id="filtersForm" novalidate>
        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead class="custom-blue-header align-middle">
                <tr>
                    <th style="width: 80px;">ID</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Статус</th>
                    <th>Дата создания</th>
                    <th>Дата обновления</th>
                </tr>
                </thead>
                <tbody>
                {% for serviceType in pagination %}
                    <tr>
                        <td>{{ serviceType.id }}</td>
                        <td>{{ serviceType.name }}</td>
                        <td>{{ serviceType.description }}</td>
                        <td>{{ statuses[serviceType.status.value] }}</td>
                        <td>{{ serviceType.createdAt ? serviceType.createdAt|date('d.m.Y H:i') : '' }}</td>
                        <td>{{ serviceType.updatedAt ? serviceType.updatedAt|date('d.m.Y H:i') : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center text-muted">Ничего не найдено</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
